// $bg : url("boku no hero.png");
$bg : url("illus.jpg");
// $bg : url("pain.jpg");
.home-wrapper{
    height: 100vh;
    background-image: $bg;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    transition: 1s;
    
    .main-div-wrapper{
        display: flex;
        height: calc(100% - 7%);
        width: 90%;
        justify-content: center;
        align-items: center;

    }
    .controllers{
        // height: 60%;
        color: white;
        display: grid;
        place-content: center;
        position: fixed;
        left: 82%;
        top:80%;
        // border: 1px solid white;
        
        .right-arrow{
            display: flex;
            border: 1px solid white;
            height: 100%;
            padding: 1.2rem;
            border-radius: 50%;
            font-size: 1.5rem;
        }
        .right-arrow:hover{
            cursor: pointer;
            transition: 0.2s;

            backdrop-filter: blur(25px);
            scale: 1;

            border:0.2em solid red;
            z-index: 0;

        }

        .right-arrow:not(:hover){
            transition: 0.3s;
            scale: 0.5;
        }
      }
}
// .home-wrapper *{
//     font-size: calc(0.09rem + 1vw);
// }